// Fonts - http://www.google.com/webfonts
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400");

// Font definitions
@fntFAM_Default: Verdana,Arial,Helvetica,sans-serif;
@fntFAM_Heading: "Source Sans Pro", Verdana,Arial,Helvetica,sans-serif;
@fntFAM_Menu: @fntFAM_Default;
