@import "constants.less";

#menu {
  margin: 0 15px;
}
#menu-bar {
  margin: 0;
  padding: 0;
  height: 34px;
  line-height: 100%;
}
#menu-bar li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
#menu-bar a {
  font-weight: bold;
  font-size: 12px;
  color: @clrDark;
  text-decoration: none;
  display: block;
  padding: 4px 0px 4px 0px;
  margin: 0;
}
#menu-bar .current a, #menu-bar li:hover > a {
  background: #FFFFFF;
  color: @clrDark;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
}
#menu-bar ul a:hover {
}
#menu-bar ul {
  background: #FFFFFF;
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 0;
  left: 85px;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
}
#menu-bar ul li:first-child > a {
}
#menu-bar ul li:last-child > a {
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: block;
}
html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}