// ---------------------------------------------------------
//   Django-CMS Front-end editor fixes:
// ---------------------------------------------------------
.cms_placeholder-btn { z-index: 99;}
.cms_placeholder { float: none; }

// ---------------------------------------------------------
//   Fludibal overrides
// ---------------------------------------------------------
.col-group {
  position: relative;
}

// ---------------------------------------------------------
// Extra functions
// ---------------------------------------------------------
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}
// A better transition
.transition (@prop: all, @time: 1s, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}
// A better transform
.transform (@rotate: 90deg, @scale: 1, @skew: 1deg, @translate: 10px) {
  -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  -moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  -o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  -ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
}
// A better Gradient
.gradient (@color: #F5F5F5, @start: #ffffff, @stop: #000000, @origin: top) {
  background-color: @start;
  background-image: -webkit-linear-gradient(@origin, @start, @stop);
  background-image: -moz-linear-gradient(@origin, @start, @stop);
  background-image: -o-linear-gradient(@origin, @start, @stop);
  background-image: -ms-linear-gradient(@origin, @start, @stop);
  background-image: linear-gradient(@origin, @start, @stop);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}
// Reflections
.reflect (@length: 50%, @opacity: 0.2){
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(@length, transparent), to(rgba(255,255,255,@opacity)));
}
// Text shadow
.text-shadow(@color: #E7E5E5, @h-shadow: 2px, @v-shadow:2px, @blur:3px, @shdowclr:#00000) {
  color: @color;
  text-shadow: @h-shadow @v-shadow @blur @shdowclr;
}
