@import "fluidable.less";
@import "constants.less";

// Reset
* {
  margin:0;
  padding:0;
  border:0px none #FFF;
}

// Base elements
body {
  font-family: @fntFAM_Default;
  font-size: 11px;
  color: @clrText;
  line-height: 15px;
  background-color:@clrBdyBg;
  background-image: url(@bgBdy);
  background-position: center 0px;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
a {
  text-decoration: none;
  color: @clrLink;
}
a:hover {
  text-decoration: underline;
}
a img
{
  border: 0;
}

ul {
  margin:@mrgnUl;
}
ol {
  margin:@mrgnOl;
}

p {
  padding:@pddngP;
  line-height: 15px;
}
h1, h2, h3, h4, h5, h6 {
  color: @clrDark;
  padding:@pddngH1t6;
  margin:@mrgnH1t6;
}
h1 { font-size:@fntSzH1;}
h2 {line-height:@fntSzH2;font-size:@fntSzH2;}
h3 {line-height:@fntSzH3;font-size:@fntSzH3;}
h4 {line-height:@fntSzH4;font-size:@fntSzH4;}
h5 {line-height:@fntSzH5;font-size:@fntSzH5;}
h6 {line-height:@fntSzH6;font-size:@fntSzH6;}
h1 {
  font-weight:@fntWghtH1;
  font-family: @fntFAM_Heading;}
h2 {
  text-transform: uppercase;
}
h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h3, h4, h5, h6 {
  color: @clrText;
}

// Forms
form {
  color: @clrDark;
  font-size: 10px;
  line-height: 15px;
}
input[type="text"], textarea  {
  border: 1px solid @clrBorder;
  margin: 3px;
  background-color: @clrMedium;
  color: @clrText;
  font-size: 10px;
  height: 15px;
  width: 112px;
}

// Main layout classes
.footer_container,
.container {
  max-width: @maxWidth;
  .center-block();
  position: relative;
}
.container {
  .drop-shadow(-8px, 0px, 8px, .3);
  .rounded(10px);
  border-radius: 0 0 10px 10px;
}
#menu {
  font-weight: 400;
}

#social p {margin:@mrgnScl; padding:@pddngScl;}

// Sidebar
div#supplemental div {
  background-color: @clrDark;
  .rounded(10px);
  padding:@pddngSpplmntl;
}
div#supplemental div {
  h1, h2, h3, h4, h5, h6, p, a {color: @clrInverse;}
}

#content {
  background-color: @clrMedium;
}
#sidebar {
  background-color: @clrLight;
  padding: @fntSzSdBr;
  font-size: 10px;
  line-height: 12px;
}
#content,
#sidebar {
  .rounded(10px);
  padding: @pddngCntnt;
  position: relative;
  margin:@mrgnCntnt;
}


#header {
  padding-top: 150px;
  position: relative;
  margin: 0;
}
#headerbg {
  position: absolute;
  top:0;
  left:0;
}
#logo {
  font-size:@fntSzLg;
  font-weight:@fntWghtLg;
  text-transform:@txtTrnsfrmLg;
  color: @clrLg;
  position: relative;
}
.cms_placeholder { float:none !important;}
#slogan {
  position: relative;
}
#slogan p {
  font-size:@fntSzSlgn;
  font-weight:@fntWghtSlgn;
  text-transform:@txtTrnsfrmSlgn;
  color: @clrSlgn;
  line-height: @fntSzSlgn;
  margin:@mrgnSlgn;
}

#header p {padding:@pddngHdrP}

#qs {
  position: relative;
  padding-top: 40px;
}


.cms_placeholder-subnav-title li a {
  color: black !important;
}

#headerbg {
  position: absolute;
  top:0;
  left:0;
}


.rounded_main {
  background-color: @clrMedium ;
}
.rounded_lt {
  background-color: @clrLight ;
}
.rounded_dk {
  background-color: @clrDark ;
}

//
span.file img {
  display: none;
}
#copyright {
  font-size:@fntSzCpyrght;
  font-style:@fntStlCpyrght;
}
#copyright > span { text-align:right; float:right;}
#copyright > div { text-align:left; float:left;}

// Editor Styles
.alignleft { text-align: left;}
.alignright {text-align: right;}
.aligncenter {text-align: center;}
.alignjustify {text-align: justify;}
.calloutbox {background-color: @clrCllutBxBg; color: @clrInverse; .rounded(@crnrClltbx); padding:@pddngClltbx; clear: both;}
.right{float: right; padding-left: 8px; padding-bottom: 10px;}
.left{float: left; padding-left: 8px; padding-bottom: 10px;}
.garnish{margin-left: -37px;}

// Floats
.float_right {float:right;}
.float_left {float:left;}


// Mobile overrides
@media screen and (max-width: 800px) {
  .col-group [class*="col-"] {
    width: auto;
    float: none;
  }
  .col-group .col-content {
    margin: 0;
  }
  .col-group [class*="offset-"] {
    margin-left: 0;
  }
  .col-group {
    margin-left: 0;
  }
  #headerbg {
    width: auto;
    overflow: hidden;
  }
}
