<!--

Django-Chameleon Theme Template

This file is here as a starting point.  You can replace it or use it
"almost" as-is. If you choose to use it, make sure to at least do a
replacement of "mysite_theme" with the name that you used for the
template creation.

Oh, and delete this comment block entirely before you attempt to use this
template.  The top line of this file should be the Django module load line.

Happy coding!!

The *growlf* Dragon
-->
{% load i18n native cms_tags menu_tags sekizai_tags thumbnail webdesign compress chameleon %}
{% set_theme_id mysite_theme %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lxml:lang="{{ LANGUAGE_CODE }}" ang="{{ LANGUAGE_CODE }}> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}{{ object.title }}{% endblock %} {{ request.current_page.get_title }}</title>

        <meta name="description" content="{% page_attribute meta_description %}"/>
        <meta name="keywords" content="{% page_attribute meta_keywords %}{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% endif %}{% endblock %}"/>

        <!-- Place favicon.ico and apple-touch-icon.png in the STATIC_URL directory -->
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}apple-touch-icon.png">
        <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico"/>
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico"/>

        <!-- DNS Prefetch for speedy Google CDN access (JQuery/Ajax) -->
        <link rel="dns-prefetch" href="//ajax.googleapis.com">

        <!-- IE9+ Pinning support -->
        <meta name="application-name" content="My Site">
        <meta name="msapplication-tooltip" content="A description of My Site.">
        <meta name="msapplication-starturl" content="http://my.site.com?pinned=true">

        <!-- Facebook OpenGraphs support (Twitter also) -->
        <meta property="og:title" content="My Site">
        <meta property="og:description" content="My Site Description">
        <meta property="og:image" content="{{ STATIC_URL }}apple-touch-icon.png">

        <!-- Mobile viewport optimized: h5bp.com/viewport -->
        <meta name="viewport" content="width=device-width; initial-scale=1.0;">

        <!--[if lte IE 9]><link rel="stylesheet" href="{{ THEME_URL }}css/ie.css" type="text/css" media="screen" /><![endif]-->

		{% if debug %}
            <!-- DEBUG MODE IS ON! ----------------------------------------------------------------------->
            <link href="{{ THEME_URL }}css/normalize.css" media="screen" rel="stylesheet" type="text/css"/>
		    <link href="{{ THEME_URL }}css/menu.less" media="screen" rel="stylesheet/less" type="text/css"/>
		    <link href="{{ THEME_URL }}css/style.less" media="screen" rel="stylesheet/less" type="text/css"/>
            <script type="text/javascript">
                less = {
                    env: "development", // or "production"
                    async: false,       // load imports async
                    fileAsync: false,   // load imports async when in a page under
                    // a file protocol
                    poll: 1000,         // when in watch mode, time in ms between polls
                    functions: {},      // user functions, keyed by name
                    dumpLineNumbers: "comments", // or "mediaQuery" or "all"
                    relativeUrls: false// whether to adjust url's to be relative
                    // if false, url's are already relative to the
                    // entry less file
                    //rootpath: ":/a.com/"// a path to add on to the start of every url
                    //resource
                };
            </script>
            <script src="{{ THEME_URL }}js/less-1.3.3.min.js"  type="text/javascript"></script>
		{% else %}
            {% compress css %}
                <link href="{{ THEME_URL }}css/normalize.css" media="screen" rel="stylesheet" type="text/css"/>
                <link href="{{ THEME_URL }}css/menu.less" media="screen" rel="stylesheet" type="text/less"/>
                <link href="{{ THEME_URL }}css/style.less" media="screen" rel="stylesheet" type="text/less"/>
		    {% endcompress %}
		{% endif %}

        {% render_block "css" %}

        <!-- All JavaScript at the bottom, except this Modernizr build.
           Modernizr enables HTML5 elements & feature detects for optimal performance.
           Create your own custom Modernizr build: www.modernizr.com/download/ -->
        <script src="{{ THEME_URL }}js/modernizr.js"></script>

        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body id="{% block tpl_id %}none{% endblock tpl_id %}" class="{{ LANGUAGE_CODE }}">
        <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
             chromium.org/developers/how-tos/chrome-frame-getting-started -->
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

        <div class="col-group container" role="main">

            <header>

                {% cms_toolbar %}

                <div class="col-group" id="header">
                    <div id="headerbg">{% placeholder headerimage inherit %}</div>
                    <div class="col-9">
                        <div id="logo">{% placeholder logo inherit %}</div>
                    </div>
                    <div class="col-3">
                        <form action="http://www.google.com/search" method="get" id="qs" style="margin-bottom: 0">
                            Search&nbsp;
                            <input name="q" id="q" class="sp2_field" type="text">
                            <input name="sitesearch" value="" style="display:none;" type="radio">
                            <input name="sitesearch" value="mysite.com" checked="checked" style="display:none;" type="radio">
                            <input name="submit" alt="submit" style="margin-top:10px;" border="0" height="10" type="image" width="19">
                        </form>
                    </div>
                </div>

            </header>


            <div class="col-group" id="mainbody">
                {% block mainbody %}

                    <div class="col-2">
                        <div id="menu" class="col-content">
                            <ul id="menu-bar">{% show_menu 0 100 100 100 %}</ul>
                        </div>
                    </div>

                    <div class="col-7">
                        <div class="col-content" id="content">
                            {% block content %}
                                {% placeholder content %}

                                {% comment %}
                                    {% placeholder content or %}
                                        {% include "sample.html" %}
                                    {% endplaceholder %}
                                {% endcomment %}

                            {% endblock content %}
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="col-content" id="sidebar">
                            {% block sidebar %}
                                {% placeholder sidebar or %}
                                    <h1>SideBar</h1>
                                    <p>Sidebar content is inherited to all child pages and can be over-ridden by any
                                        parent. Typically this is for hotlinks, embedded menus or banners that you wish to see across several pages, consistently.</p>
                                    <p>Additionally, this column is flush to the menu bar, allowing for image banners to
                                        rest snugly against it if placed at the top of the column and allowed no format spacing.</p>
                                {% endplaceholder %}
                                {% placeholder supplemental %}
                            {% endblock sidebar %}
                        </div>
                    </div>
                {% endblock mainbody %}

            </div>
            <div class="col-group">
                <div class="col-full" id="footer">&nbsp;</div>
            </div>
        </div>
        <footer>
            <div class="col-group footer_container">
                    <div class="col-group">
                        <div class="col-full">

                            <div id="copyright">
                                {% placeholder "copyright" inherit %}
                                <p>Site by <a target="_blank" href="http://oddotter.com" class="target_blank">Odd Otter Co</a></p>
                            </div>

                        </div>
                    </div>
            </div>
        </footer>


        <!-- Keep JavaScript at the bottom for fast page loading -->

        <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
        <script type="text/javascript" src="{{ THEME_URL }}js/css3-mediaqueries.js"></script>

        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
        <script>window.jQuery || document.write('<script src="{{ THEME_URL }}js/jquery.min.js"><\/script>')</script>

        <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
             mathiasbynens.be/notes/async-analytics-snippet -->
        <!--script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script-->

        {% render_block "js" %}
    </body>

</html>
